# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/storybook-static

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/thriftCompiler.xml
/.idea/uikit.iml
/.idea/vcs.xml
