#ec0k8KSO3Pa5_ts {
    animation: ec0k8KSO3Pa5_ts__ts 3000ms linear infinite normal forwards
}

@keyframes ec0k8KSO3Pa5_ts__ts {
    0% {
        transform: translate(24.981054px, 25.154581px) scale(0.2, 0.2)
    }
    20% {
        transform: translate(24.981054px, 25.154581px) scale(0.2, 0.2)
    }
    53.333333% {
        transform: translate(24.981054px, 25.154581px) scale(1, 1)
    }
    100% {
        transform: translate(24.981054px, 25.154581px) scale(1, 1)
    }
}

#ec0k8KSO3Pa5 {
    animation: ec0k8KSO3Pa5_c_o 3000ms linear infinite normal forwards
}

@keyframes ec0k8KSO3Pa5_c_o {
    0% {
        opacity: 1
    }
    20% {
        opacity: 1
    }
    53.333333% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

#ec0k8KSO3Pa6_ts {
    animation: ec0k8KSO3Pa6_ts__ts 3000ms linear infinite normal forwards
}

@keyframes ec0k8KSO3Pa6_ts__ts {
    0% {
        transform: translate(24.981054px, 25.154581px) scale(0.2, 0.2)
    }
    26.666667% {
        transform: translate(24.981054px, 25.154581px) scale(0.2, 0.2)
    }
    60% {
        transform: translate(24.981054px, 25.154581px) scale(1, 1)
    }
    100% {
        transform: translate(24.981054px, 25.154581px) scale(1, 1)
    }
}

#ec0k8KSO3Pa6 {
    animation: ec0k8KSO3Pa6_c_o 3000ms linear infinite normal forwards
}

@keyframes ec0k8KSO3Pa6_c_o {
    0% {
        opacity: 1
    }
    26.666667% {
        opacity: 1
    }
    60% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

#ec0k8KSO3Pa7_ts {
    animation: ec0k8KSO3Pa7_ts__ts 3000ms linear infinite normal forwards
}

@keyframes ec0k8KSO3Pa7_ts__ts {
    0% {
        transform: translate(24.981054px, 25.154581px) scale(0.2, 0.2)
    }
    33.333333% {
        transform: translate(24.981054px, 25.154581px) scale(0.2, 0.2)
    }
    66.666667% {
        transform: translate(24.981054px, 25.154581px) scale(1, 1)
    }
    100% {
        transform: translate(24.981054px, 25.154581px) scale(1, 1)
    }
}

#ec0k8KSO3Pa7 {
    animation: ec0k8KSO3Pa7_c_o 3000ms linear infinite normal forwards
}

@keyframes ec0k8KSO3Pa7_c_o {
    0% {
        opacity: 1
    }
    33.333333% {
        opacity: 1
    }
    66.666667% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

#ec0k8KSO3Pa8_ts {
    animation: ec0k8KSO3Pa8_ts__ts 3000ms linear infinite normal forwards
}

@keyframes ec0k8KSO3Pa8_ts__ts {
    0% {
        transform: translate(24.988975px, 25.505826px) scale(0.8, 0.8)
    }
    43.333333% {
        transform: translate(24.988975px, 25.505826px) scale(1, 1)
    }
    83.333333% {
        transform: translate(24.988975px, 25.505826px) scale(0.8, 0.8)
    }
    100% {
        transform: translate(24.988975px, 25.505826px) scale(0.8, 0.8)
    }
}
